@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 29, 29, 29;
  --background-start-rgb: 251, 251, 251;
  --background-end-rgb: 235, 237, 238;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 252, 252, 252;
    --background-start-rgb: 29, 29, 29;
    --background-end-rgb: 17, 19, 21;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.countdown-footer-gradient {
  @apply bg-gradient-to-t from-[#30cfd0] to-[#330867] -z-10 blur-2xl absolute -bottom-[calc(24px+6rem)] left-[calc(50%-8rem)] h-64 w-64  opacity-15 dark:opacity-25 rounded-full;
}