@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 29, 29, 29;
  --background-start-rgb: 251, 251, 251;
  --background-end-rgb: 235, 237, 238;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 252, 252, 252;
    --background-start-rgb: 29, 29, 29;
    --background-end-rgb: 17, 19, 21;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.countdown-footer-gradient {
  @apply bg-gradient-to-t from-[#30cfd0] to-[#330867] -z-10 blur-2xl absolute -bottom-[calc(24px+6rem)] left-[calc(50%-8rem)] h-64 w-64  opacity-15 dark:opacity-25 rounded-full;
}

.countdown-timers-input[type="number"]::-webkit-inner-spin-button,
.countdown-timers-input[type="number"]::-webkit-outer-spin-button,
.countdown-timers-input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield; /* Firefox */
  margin: 0;
}

@keyframes countdown-close-form-animation {
  0% {
    transform: translateY(0%);
    @apply opacity-100 bg-runnote-gray-50/15 dark:bg-runnote-gray-900;
  }
  100% {
    transform: translateY(100%);
    filter: blur(8px);
    scale: 0.75;
    @apply opacity-0 hidden;
  }
}

@keyframes countdown-open-form-animation {
  0% {
    @apply hidden opacity-0;
    scale: 0.75;
    filter: blur(8px);
    transform: translateY(100%);
  }
  100% {
    @apply block opacity-100;
    transform: translateY(0);
  }
}

.countdown-close-form-animation {
  animation: countdown-close-form-animation 1.5s ease-in-out forwards;
}

.countdown-open-form-animation {
  animation: countdown-open-form-animation 1s ease-in-out forwards;
}